# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Ignore development environment
.idea/

# Ignore htaccess
.htaccess

# Ignore config file
config/connect.php

# Ignore make base root script
utils/set-base-root.php